<launch>
	<!-- Including the assignment_2_2024 -->
	<include file="$(find assignment_2_2024)/launch/assignment1.launch" />
	
	<!-- launching action client node -->
	<node name ="action_client_target" 	 type ="client_action.cpp" 		 	pkg="assignment_rt2_ex1" />
	
	<!-- launching action service node -->
	<node name ="service_node"		 type ="last_target_coordinates_service.cpp" 	pkg="assignment_rt2_ex1" />
</launch>
