<launch>
	<!-- Including the assignment_2_2024 -->
	<include file="$(find assignment_2_2024)/launch/assignment1.launch" />
	
	<!-- launching action client node -->
	<node name="client_action_node" type="action_client_node" pkg="assignment_rt2_ex1" />

	
	<!-- launching action service node -->
	<node name ="service_node"		 type ="last_coord_service_node" 	pkg="assignment_rt2_ex1" />
</launch>
